{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "describe": true,
        "it": true,
        "before": true,
        "after": true,
        "beforeEach": true,
        "afterEach": true
    },
    "rules": {
        "quotes": 0,
        "no-underscore-dangle": 0,
        "no-path-concat": 0,
        "valid-jsdoc": 1,
        "no-reserved-keys": 1,
        "block-scoped-var": 1,
        "no-lonely-if": 1,
        "no-nested-ternary": 1,
        "no-multiple-empty-lines": 1,
        "no-mixed-spaces-and-tabs": [0, "smart-tabs"],
        "space-after-keywords": [1, "always"],
        "space-before-blocks": [1, "always"]
    }
}